<div class="column is-half" style='border:solid 2px black'>
    BOX SETENGAH
    <article class='media box' style='border: solid 2px black'>
        artikel
        <figure class='media-left' style='border: solid 2px black'>
            figure
        </figure>
        <div class="media-content" style='border: solid 2px black'>
            text content
        </div>
    </article>
</div>