<div class="column is-one-fifth" style='border:solid 3px green'>
   
    <nav class="panel" style='border:solid 2px blue'>
        <p class="panel-heading">Trends</p>
        <a href="#" class='panel-block' style='border:solid 1px yellow'>
            trend1
        </a>
        <a href="#" class='panel-block' style='border:solid 1px yellow'>
            trend2
        </a>
        <a href="#" class='panel-block' style='border:solid 1px yellow'>
            trend3
        </a>
        <a href="#" class='panel-block' style='border:solid 1px yellow'>
            trend4
        </a>
        <a href="#" class='panel-block' style='border:solid 1px yellow'>
            trend5
        </a>
    </nav>
</div>