<div class="column" style='border:solid 1px black'>
    <%# column %>
    <nav style='border:solid 2px red' class='panel'>
        <%# nav %>
        <p class='panel-heading'>Who-to-follow</p>
    

    <div class="panel-block" style='border:solid 1px black'>
        <article class='media'>
        
            <%# image %>
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <%# content %>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Gunawan </strong> 
                        <small>@gunawanworks</small> 
                    </p>
                </div>
            </div>

        </article>
    </div>

    <div class="panel-block" style='border:solid 1px black'>
        <article class='media'>
        
            <%# image %>
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <%# content %>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Gunawan </strong> 
                        <small>@gunawanworks</small> 
                    </p>
                </div>
            </div>

        </article>
    </div>

    </nav>

</div>